.appointments_table{
	width: 100%;

	.ap_tr{
		border-bottom: 1px solid #b3b3b3;
		.duration{
			text-align: center;
			.time-span{
				font-weight: bold;
			}
			.time-head{

			}
		}
		
		.res_per_img{
			width: 40px;
		    height: 40px;
		    border-radius: 7px;
		}
	}

	.app_padding{
		padding: 40px 0;
	}
}

.booking_calendar{
	z-index: 1; 
	 
}

.timings{
	width: 100%;
	.appointment_selector{
		width: 100%;
	    height: 40px;
	    margin-top: 15px;
	    border-radius: 10px;
	    margin-bottom: 10px;
	    padding: 0 10px;
	    border: 1px solid #d1d1d1;
	    &:focus{
	    	outline: none;
	    }
	}

	.time_box{
		text-align: center;
	    padding: 4px 5px;
	    background: white;
	    border: 1px solid #d1d1d1;
	    margin-bottom: 5px;
	    border-radius: 5px;

	    &.active,&:hover{
	    	background: #d5265d;
    		color: white;
    		cursor: pointer;
	    }
	}
}

.booking_details{
	padding-bottom: 50px;
    padding-left: 15px; 
	.booking_table{ 
	 
		th,td{
				padding: 0 10px;
			}
	}
}